.container {
  display: grid;
  height: 100vh;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.container.invalid h1 {
  color: red;
}
